h1 {
    text-align: center;
}

button {
    margin: 0 auto;
    display: block;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(16, 40px);
    grid-template-rows: repeat(16, 40px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

